<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexchantastic.notionnote</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>36FCBB24-535E-41F8-9CC0-3A5AD7487482</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97341B3B-3AE4-4266-A066-B139FDE3BE70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5745F248-5364-4630-AA46-48974662EACF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36FCBB24-535E-41F8-9CC0-3A5AD7487482</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1368CF2-AC52-46B4-BBBF-F29B43695D62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B69E38B-89C3-42E8-8A82-C5D5FB622560</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6FFF157-1532-47EE-A714-E6B2C4F09182</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EACAFBA4-1869-4F0C-9355-2A15B2323F09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EACAFBA4-1869-4F0C-9355-2A15B2323F09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B40DA2E3-9FAF-4549-A207-1E88868563D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Chan</string>
	<key>description</key>
	<string>Add a note to a Notion page</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion Note</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>no</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add note to Notion</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1368CF2-AC52-46B4-BBBF-F29B43695D62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
now=$(date +"%Y-%m-%dT%H:%M:%S%z")

query=${query//\\/\\\\} # \ 
query=${query//\//\\\/} # / 
query=${query//\"/\\\"} # " 
query=${query//   /\\t} # \t
query=${query//
/\\\n} # \n
query=${query//^M/\\\r} # \r
query=${query//^L/\\\f} # \f
query=${query//^H/\\\b} # \b

curl -X PATCH "https://api.notion.com/v1/blocks/$notion_page_id/children" \
  --silent \
  --fail \
  -H 'Authorization: Bearer '"$notion_api_key"'' \
  -H "Content-Type: application/json" \
  -H "Notion-Version: 2022-02-22" \
  --data '{
  "children": [
    {
      "object": "block",
      "type": "paragraph",
      "paragraph": {
        "rich_text": [
          {
            "type": "mention",
            "mention": {
              "date": {
                "start": "'"$now"'"
              }
            }
          },
          {
            "type": "text",
            "text": {
              "content": " "
            }
          },
          {
            "type": "text",
            "text": {
              "content": "'"$query"'"
            }
          }
        ]
      }
    }
  ]
}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B69E38B-89C3-42E8-8A82-C5D5FB622560</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gno</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Notion notes in browser</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6FFF157-1532-47EE-A714-E6B2C4F09182</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B40DA2E3-9FAF-4549-A207-1E88868563D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>json=$(curl "https://api.notion.com/v1/pages/$notion_page_id" \
  --silent \
  -H 'Authorization: Bearer '"$notion_api_key"'' \
  -H "Notion-Version: 2022-02-22")

url=$(echo -n $json | grep -o -E '"url":".*?"')
url=${url:7}
url=${url%?}

echo -n $url</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EACAFBA4-1869-4F0C-9355-2A15B2323F09</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ono</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Notion notes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5745F248-5364-4630-AA46-48974662EACF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>97341B3B-3AE4-4266-A066-B139FDE3BE70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>json=$(curl "https://api.notion.com/v1/pages/$notion_page_id" \
  --silent \
  -H 'Authorization: Bearer '"$notion_api_key"'' \
  -H "Notion-Version: 2022-02-22")

url=$(echo -n $json | grep -o -E '"url":".*?"')
url=${url:7}
url=${url%?}

echo -n ${url/https/notion}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36FCBB24-535E-41F8-9CC0-3A5AD7487482</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred 5 workflow for adding a note to a Notion page.</string>
	<key>uidata</key>
	<dict>
		<key>36FCBB24-535E-41F8-9CC0-3A5AD7487482</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>5745F248-5364-4630-AA46-48974662EACF</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>7B69E38B-89C3-42E8-8A82-C5D5FB622560</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>97341B3B-3AE4-4266-A066-B139FDE3BE70</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>A1368CF2-AC52-46B4-BBBF-F29B43695D62</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>B40DA2E3-9FAF-4549-A207-1E88868563D9</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>B6FFF157-1532-47EE-A714-E6B2C4F09182</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>EACAFBA4-1869-4F0C-9355-2A15B2323F09</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your private Notion API key</string>
			<key>label</key>
			<string>Notion API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>notion_api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The ID of the Notion page the notes will be added to</string>
			<key>label</key>
			<string>Notion Page ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>notion_page_id</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/alexchantastic/alfred-notion-note-workflow</string>
</dict>
</plist>
